[{:itonami.blueprint/social-impact [:financial-inclusion :consumer-protection :local-jobs], :itonami.blueprint/domain :finance/pawnbroking, :itonami.blueprint/required-technologies [:robotics :identity :forms :audit-ledger], :itonami.blueprint/isco-08 "4213", :itonami.blueprint/name "Independent Pawnbroking & Small-Loan Practice", :itonami.blueprint/governor :pawnbroking-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-4213", :itonami.blueprint/license "AGPL-3.0-or-later"}]